<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net481" />
  <package id="MessagePack" version="2.5.108" targetFramework="net481" />
  <package id="MessagePack.Annotations" version="2.5.108" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="Microsoft.Build.Framework" version="17.6.3" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.5-beta1.23225.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="3.3.5-beta1.23225.2" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.5.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.5.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="4.5.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.5.0" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.IO.Redist" version="6.0.2-mauipre.1.22102.15" targetFramework="net481" />
  <package id="Microsoft.NET.StringTools" version="17.6.3" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Analyzers" version="4.2.102" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Framework" version="4.2.102" targetFramework="net481" />
  <package id="Microsoft.ServiceHub.Resources" version="4.2.8" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.6.268" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Composition" version="17.6.17" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="17.6.17" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.6.268" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.GraphModel" version="17.6.36389" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="17.6.36389" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Imaging" version="17.6.36389" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.6.36387" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Interop" version="17.6.36389" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.ProjectAggregator" version="17.6.36387" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="16.3.52" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.RpcContracts" version="17.6.13" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.10.10" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.6.2115" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="17.6.36389" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="17.6.36389" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Telemetry" version="17.6.46" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.6.268" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.6.268" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.UI" version="17.6.268" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="17.6.268" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Threading" version="17.6.40" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.6.40" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.6.36389" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.42" targetFramework="net481" />
  <package id="Microsoft.VisualStudio.Validation" version="17.6.11" targetFramework="net481" />
  <package id="Microsoft.Win32.Registry" version="6.0.0-preview.5.21301.5" targetFramework="net481" />
  <package id="Nerdbank.Streams" version="2.10.37-alpha" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="StreamJsonRpc" version="2.15.29" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.ComponentModel.Composition" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Composition" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Composition.AttributedModel" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Composition.Convention" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Composition.Hosting" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Composition.Runtime" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Composition.TypedParts" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net481" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.2-mauipre.1.22102.15" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="6.0.0-preview.5.21301.5" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Threading.AccessControl" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Threading.Channels" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Threading.Tasks.Dataflow" version="8.0.0-preview.4.23259.5" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>